<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--<add key="connection" value="local"/>-->
    <add key="connection" value="school"/>
    <add key="user" value="var0065"/>
    <add key="password" value="password"/>
  </appSettings>
</configuration>